body {
	background-color: rgb(238, 254, 250);
}

.page {
	font-family: 'Marvel', sans-serif;
	font-size: 25px;
	margin: 30px;

}

.header a {
	font-size: 50px;
	font-weight: 100;
	font-family: Poiret One;
	text-decoration: none;
	color: #48a7a8;
}

.sidebar {

	width: 200px;
	height: 90%;
	position: fixed;
	z-index: 1;

	border-right: 1px solid;
	border-color: #48a7a8;
	overflow-x: scroll;
	margin-top: 25px;
	
	text-align: center;
	text-decoration: none;

}

.sections a {
	display: block;
	max-width: 200px;
	text-decoration: none;
	padding: 10px;
	margin: 20px;
	text-align: center;
}

.dynamic-link {
	background-color: lightblue;
	color: #48a7a8;
	transition: background-color .3s, color .3s, font-size .3s;
}

.dynamic-link:hover {
	background-color: lightgreen;
	font-weight: bold;
	font-size: 30px;
}

.dynamic-icon {
	color: lightblue;
}

.icons {
	display: block;
	position: absolute;
	bottom: 0px;
	margin-left: 48px;
	text-decoration: none;
}


#main {
	margin-left: 200px;
	padding: 100px;

}

#content {
	word-wrap: break-word;
}