body {
	background-color: rgb(238, 254, 250);
}

.page {
	/*border-style: solid;*/
	font-family: 'Marvel', sans-serif;
	font-size: 32px;
	margin: 30px;

}

.header a {
	font-size: 50px;
	font-weight: 100;
	font-family: Poiret One;
	text-decoration: none;
	
}

.sidebar {

	width: 200px;
	height: 90%;
	position: fixed;
	z-index: 1;

	border-right: 1px solid;
	overflow-x: scroll;
	margin-top: 25px;
	
	text-align: center;
	text-decoration: none;

}

.sections a {
	display: block;
	max-width: 200px;
	
	text-decoration: none;
	padding: 10px;
	margin: 20px;
	text-align: center;
}

.icons {
	display: block;
	position: absolute;
	bottom: 0px;
	margin-left: 48px;
	text-decoration: none;
}
#main {
	margin-left: 200px;
	padding: 100px;

}

#content {
	word-wrap: break-word;
}
