#content {
    margin-right: 100px;
}

.flexContainer {
    /* border: 1px solid;
    border-color: #48a7a8; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    flex-shrink: 0 !important;
    
}

.projectContent {
    /* border: 1px solid;
    border-color: #48a7a8; */
    background-color: rgba(255, 215, 0, 0.3);
    width: 400px;
    height: 250px;
    margin: 10px;
    text-align: center;
    padding-top: 15px;
}

h3 {
    /* border: 1px solid;
    border-color: #48a7a8; */
    display: inline;
    color: var(--pop-text-color);

}

.projectDescription p {
    font-size: 15px;
    /* border: 1px solid;
    border-color: #48a7a8; */
    text-align: center;
    padding: 10px;
    margin: 15px;
    margin-top: -15px !important;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 205px;
    overflow-y: scroll;
}